[submodule ".p10k"]
	path = .p10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".neovim"]
	path = .neovim
	url = git@github.com:neovim/neovim.git
